[submodule "libs/lcs"]
	path = libs/lcs
	url = https://github.com/gajop/Lua-Class-System.git
[submodule "libs/chiliui"]
	path = libs/chiliui
	url = https://github.com/gajop/chiliui.git
[submodule "libs/liblobby"]
	path = libs/liblobby
	url = https://github.com/gajop/liblobby.git
[submodule "libs/chililobby"]
	path = libs/chililobby
	url = https://github.com/gajop/chililobby.git
[submodule "libs/i18n"]
	path = libs/i18n
	url = https://github.com/gajop/i18n.lua.git
