[submodule "libs/chiliui"]
	path = libs/chiliui
	url = git://github.com/gajop/chiliui.git
[submodule "libs/lcs"]
	path = libs/lcs
	url = git://github.com/gajop/Lua-Class-System.git
[submodule "libs/vstruct"]
	path = libs/vstruct
	url = git://github.com/gajop/vstruct.git
